[submodule "ext/core"]
	path = ext/core
	url = https://github.com/jazztickets/olived-core
[submodule "ext/KDDockWidgets"]
	path = ext/KDDockWidgets
	url = https://github.com/olive-editor/KDDockWidgets.git
